<h2>Create an Account</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <% if @validatable %>
      <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, id: :first_name, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, id: :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, id: :street_address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, id: :city, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, id: :state, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :zip %>
      <%= f.text_field :zip, id: :zip, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, id: :phone, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :crematory_name %>
      <%= f.text_field :crematory_name, id: :crematory_name, class: 'form-control' %>
    </div>

  <%= f.submit "Sign up", class: 'btn btn-primary' %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<h3>app/views/devise/registrations/new.html.erb</h3>
<!-- <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
