<h1>Client List</h1><p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Secondary email:</strong>
  <%= @client.secondary_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @client.secondary_phone %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @client.vet_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<h5>updated below...</h5>
<li><%= link_to "Update Client Info", edit_client_path(id: :id_client) %></li>
<h3>/Users/eileenulry/dropbox/closure2/ClosureAtHome/app/views/clients/show.html.erb</h3>
